<div class="container">
  <div [hidden]="submitted">
    <h1>Ingredient</h1>
    <form #ingredientForm="ngForm">

      <div class="form-group">
        <label for="quantity">Quantity</label>
        <input type="text" class="form-control" id="quantity" name="quantity"
               [(ngModel)]="data.quantity" #quantity="ngModel" type="number">
      </div>

      <div class="form-group">
        <label for="Unit">Unit of measure</label>
        <select class="form-control" id="unit" placeholder="Unit" name="unit"
                [(ngModel)]="data.unit">
          <option *ngFor="let item of keys" [value]="item">{{unitType[item]}}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" name="name"
               required
               [(ngModel)]="data.name" #name="ngModel">
        <div [hidden]="name.valid || name.pristine"
             class="alert alert-danger">
          Name is required
        </div>
      </div>

      <button type="submit" class="btn btn-success" [disabled]="!ingredientForm.form.valid" [mat-dialog-close]="data">Submit</button>
      <button type="button" class="btn btn-default" (click)="ingredientForm.reset()">Clear</button>
      <div>
        <hr>
        Name via form.controls = {{showFormControls(ingredientForm)}}
      </div>
    </form>
  </div>

  <div [hidden]="!submitted">
    <h2>You submitted the following:</h2>
    <div class="row">
      <div class="col-xs-3">Name</div>
      <div class="col-xs-9">{{ model.name }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Quantity</div>
      <div class="col-xs-9">{{ model.quantity }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Unit</div>
      <div class="col-xs-9">{{ model.unit }}</div>
    </div>
    <br>
    <button class="btn btn-primary" (click)="submitted=false">Edit</button>
  </div>
</div>
