<div class="container">
  <button (click)="goBack()">go back</button>
  <div class="row">
    <div *ngIf="recipe">
      <div class="panel panel-primary">
        <div class="panel-heading">
          {{recipe.name}}
        </div>
        <div class="panel-body">
          <div class="panel panel-success">
            <!-- Default panel contents -->
            <div class="panel-heading">Ingredients</div>
            <ul class="list-group">
              <li *ngFor="let item of recipe.recipeIngredient let i = index" class="list-group-item">
                <span *ngIf="item?.quantity">{{item.quantity}} - {{item.unit}}</span>{{item.name}}
              </li>
            </ul>
          </div>
          <div class="panel panel-info">
            <!-- Default panel contents -->
            <div class="panel-heading">Directions</div>
            <!-- List group -->
            <ul class="list-group">
              <li *ngFor="let item of recipe.recipeInstructions let i = index" class="list-group-item">
                {{item}}
              </li>
            </ul>
          </div>
          <div class="panel panel-warning">
            <!-- Default panel contents -->
            <div class="panel-heading">Nutrition</div>
            <dl class="dl-horizontal">
              <dt>Calories</dt>
              <dd>{{recipe.nutrition.calories}}</dd>
              <dt>Protein</dt>
              <dd>{{recipe.nutrition.protein}}</dd>
              <dt>Fat</dt>
              <dd>{{recipe.nutrition.fatContent}}</dd>
              <dt>Carbs</dt>
              <dd>{{recipe.nutrition.carbs}}</dd>
              <dt>Fiber</dt>
              <dd>{{recipe.nutrition.fiber}}</dd>
            </dl>
          </div>
        </div>
        <div class="panel-footer">
          <button (click)="deleteRecipe()" class="btn btn-danger col-md-offset-10" type="button">
            <span class="glyphicon glyphicon-remove"></span> Delete Recipe
          </button>
        </div>
      </div>
    </div>
    <button (click)="goBack()">go back</button>
  </div>
</div>
