<div class="container">
  <div class="row">
<div class="panel panel-primary">
  <div class="panel-heading">
    Recipe Name:
  </div>
  <div class="panel-body">
    <input value="{{recipe.name}}" placeholder="Recipe Name*">

    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">Ingredients</h3>
      </div>
      <div class="panel-body">
        <ul>
          <li *ngFor="let ingredient of recipe.recipeIngredient">
            {{ingredient.quantity}} {{ingredient.unit}} {{ingredient.name}}
          </li>
        </ul>
      </div>
      <div class="panel-footer">
        <button type="button" class="btn btn-success col-md-offset-10" (click)="addIngredient()">
          <span class="glyphicon glyphicon-plus"></span> Add Ingredient</button>
      </div>
    </div>

    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Instructions</h3>
      </div>
      <div class="panel-body">
        <ul>
          <li *ngFor="let instruction of recipe.recipeInstructions">
            {{instruction}}
          </li>
        </ul>
      </div>
    </div>

    <div class="panel panel-warning">
      <div class="panel-heading">
        <h3 class="panel-title">Nutrition</h3>
      </div>
      <div class="panel-body">

      </div>
    </div>
  </div>
</div>
    {{diagnostic}}
  </div>
</div>
