<div class="panel panel-primary">
  <div class="panel-heading">
    Recipe Name:
  </div>
  <div class="panel-body">

  </div>
  <input value="{{recipe.name}}}" placeholder="Recipe Name*">
</div>
<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">Ingredients</h3>
  </div>
  <div class="panel-body">

  </div>
</div>
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Instructions</h3>
  </div>
  <div class="panel-body">

  </div>
</div>
<div class="panel panel-warning">
  <div class="panel-heading">
    <h3 class="panel-title">Nutrition</h3>
  </div>
  <div class="panel-body">

  </div>
</div>
