<h2>My Recipes</h2>
<ul class="heroes">
  <li *ngFor="let recipe of recipes"
      [class.selected]="recipe === selectedRecipe"
      (click)="onSelect(recipe)">
    <span class="badge">{{recipe.id}}</span> {{recipe.name}}
  </li>
</ul>

<div *ngIf="selectedRecipe">
  <h3>Ingredients</h3>
  <h4>{{selectedRecipe.name}}</h4>
  <li *ngFor="let item of selectedRecipe.recipeIngredient let i = index">
   {{item}}}
  </li>
  <h3>Directions</h3>
  <li *ngFor="let item of selectedRecipe.recipeInstructions let i = index">
    {{item}}
  </li>
</div>
